<div class="wrapper">
  <div class="plate">
    <div class="connection">▲ COMM.</div>

    <div class="screen">
      <div class="lcd" [class.no-blur]="disableBlur$ | async">
        <router-outlet></router-outlet>

        <div class="settings" [class.open]="openSettings$ | async">
          <p>Press <mark>B</mark> to exit</p>
          <hr>
          <p>Press
            <mark>◀</mark>
            or
            <mark style="transform: rotateZ(180deg)">◀</mark>
            to enable / disable the blur
          </p>
          <br>
          <p>
            Made with <3 by Mustapha Aouas (@theAngularGuy)
          </p>
        </div>
      </div>
      <div class="follow-me">
        <a href="https://twitter.com/theAngularGuy">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="22" viewBox="0 0 260 220">
            <path fill="#fff"
                  d="M5 187c100 62 227-7 225-130 10-7 19-16 26-27-10 5-20 8-31 9 11.4-7 20-17 24-29-10 6-20 10-33 13-43-41.3-100 3-88 47-43-2-80-23-106-54C10 40 15 71 39 85 30 84 20 82 15 78c0 26 18 46 41 51-8 2-15 3-23 1 6 20 26 36 48 36-20 16-47 24-76 21z"/>
          </svg>
          twitter.com/theAngularGuy
        </a>
      </div>
    </div>
    <div class="brand">Nintendo</div>

    <div class="buttons-row">
      <div class="left">
        <div class="croix">
          <div class="line"
               (click)="buttonsEventsService.buttonClick.next('TOP')">▲
          </div>
          <div class="line"
               (click)="buttonsEventsService.buttonClick.next('RIGHT')">▶
          </div>
          <div class="line"
               (click)="buttonsEventsService.buttonClick.next('BOTTOM')">▼
          </div>
          <div class="line"
               (click)="buttonsEventsService.buttonClick.next('LEFT')">◀
          </div>
          <div class="middle"></div>
        </div>
      </div>
      <div class="right">
        <button (click)="buttonsEventsService.buttonClick.next('A')">A</button>
        <button (click)="buttonsEventsService.buttonClick.next('B')">B</button>
      </div>
    </div>

    <div class="small-buttons">
      <button (click)="buttonsEventsService.buttonClick.next('SELECT')">
        <span>
          SELECT
        </span>
      </button>
      <button (click)="buttonsEventsService.buttonClick.next('START')">
        <span>
          START
        </span>
      </button>
    </div>

    <div class="sound-grid">
      <div class="dot t"></div>
      <div class="dot b"></div>
      <div class="dot"></div>
      <div class="dot b"></div>
      <div class="dot"></div>
      <div class="dot b"></div>
      <div class="dot"></div>
      <div class="dot t"></div>

      <div class="dot b"></div>
      <div class="dot"></div>
      <div class="dot b"></div>
      <div class="dot"></div>
      <div class="dot b"></div>
      <div class="dot"></div>
      <div class="dot b"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot b"></div>
      <div class="dot"></div>
      <div class="dot b"></div>
      <div class="dot"></div>
      <div class="dot b"></div>
      <div class="dot"></div>
      <div class="dot b"></div>
      <div class="dot b"></div>
      <div class="dot"></div>
      <div class="dot b"></div>
      <div class="dot"></div>
      <div class="dot b"></div>
      <div class="dot"></div>
      <div class="dot b"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot b"></div>
      <div class="dot"></div>
      <div class="dot b"></div>
      <div class="dot"></div>
      <div class="dot b"></div>
      <div class="dot"></div>
      <div class="dot b"></div>


      <div class="dot t"></div>
      <div class="dot"></div>
      <div class="dot b"></div>
      <div class="dot"></div>
      <div class="dot b"></div>
      <div class="dot"></div>
      <div class="dot b"></div>
      <div class="dot t"></div>
    </div>
  </div>
</div>
