:host {
  display: block;
  height: 100%;
  width: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
  font-family: "Andale Mono", Helvetica, sans-serif;

  .msg {
    font-size: .87rem;
    margin: 5px 0 0;
    padding-left: 5px;
  }

  .won {
    display: inline-block;
    color: aliceblue;
    font-weight: bolder;
    background: black;
    padding: 0 7px;
  }
}
