:host {
  display: block;
}


.grid {
  --cellSize: 3.4%;
  --grindScale: 1;
  --light: transparent;
  --dark: #270714;


  margin: 0 0 0 0;
  padding-top: 5%;
  transform: scale(var(--grindScale));

  .line {
    display: flex;
    justify-content: center;

    .cell {
      background: var(--light);
      position: relative;
      width: var(--cellSize);
      aspect-ratio: 1 / 1;

      display: flex;
      justify-content: center;
      align-items: center;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }

    .bt {
      &::after {
        border-top: 1px solid var(--dark);
      }
    }
    .bb {
      &::after {
        border-bottom: 1px solid var(--dark);
      }
    }
    .br {
      &::after {
        border-right: 1px solid var(--dark);
      }
    }
    .bl {
      &::after {
        border-left: 1px solid var(--dark);
      }
    }
  }
}

.snake {
  z-index: 2;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5%;
  background: transparent;
  border: 1px solid #000000aa;

  &.head {
    background: #00000099;
  }
  &.tail {
  }
}

.apple {
  z-index: 1;
  content: '';
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  border-radius: 50%;
  background: red;
  border: 1px solid red;
}
